<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.javabang.repository.MemberDAO">

<insert id="add" parameterType="member">

	insert into member(userId, userPw, userNick, email, userName, birth, phoneNum, gender) 
	values(#{userId}, #{userPw}, #{userNick}, #{email}, #{userName}, #{birth}, #{phoneNum}, #{gender})

</insert>

<select id="login" resultType="member" parameterType="member">

	select * from member where userId = #{userId} and userPw = #{userPw}

</select>

<select id="selectOne" resultType="member" parameterType="int">
	select * from member where idx = #{idx}	
</select>

<update id="update" parameterType="member">
	update member set userNick = #{userNick}, phoneNum = #{phoneNum}, email = #{email} where idx = #{idx} 
</update>
	
</mapper>















