<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.javabang.repository.RentDAO">
	<insert id="rentInsert" parameterType="rent">
		INSERT INTO
			rent (member, category, roomType, address, detailAddress, roomCount, guestCount, bedCount, bathCount, information, title, contactNum, content, price)
			VALUES (#{member}, #{category}, #{roomType}, #{address}, #{detailAddress}, #{roomCount}, #{guestCount}, #{bedCount}, #{bathCount}, #{information}, #{title}, #{contactNum}, #{content}, #{price})
	</insert>
	
	<select id="getRentIdx" parameterType="int">
		SELECT MAX(idx) FROM rent
	</select>
	
	<insert id="fileInsert" parameterType="hashmap">
		INSERT INTO rent_img (rent, filePath) VALUES (#{rent}, #{filePath})
	</insert>
	
	<select id="selectAll" resultType="rent">
		SELECT R.*, I.filePath
			FROM rent R
			JOIN (SELECT ri.rent, MIN(ri.idx) AS min_idx FROM rent_img ri GROUP BY ri.rent) min_img
				ON R.idx = min_img.rent
			JOIN rent_img I
				ON min_img.min_idx = I.idx
			WHERE R.state = 1
			ORDER BY R.price
	</select>
	
	<select id="selectOne" parameterType="int" resultType="rent">
		SELECT * FROM rent WHERE idx = #{idx}
	</select>
	
	<select id="selectHost" parameterType="int" resultType="rent">
		SELECT * FROM rent WHERE member = #{member} ORDER BY idx DESC
	</select>
	
	<select id="selectFilePath" parameterType="int" resultType="string">
		SELECT filePath FROM rent_img WHERE rent = #{idx} ORDER BY idx
	</select>
	
	<update id="updateRentTitle" parameterType="rent">
		UPDATE rent SET title = #{title} WHERE idx = #{idx}
	</update>
	
	<update id="updateRentContent" parameterType="rent">
		UPDATE rent SET content = #{content} WHERE idx = #{idx}
	</update>
	
	<update id="updateRentPrice" parameterType="rent">
		UPDATE rent SET price = #{price} WHERE idx = #{idx}
	</update>
	
	<update id="updateRentCountMinus" parameterType="rent">
		UPDATE rent
			<if test="guestCount != 0">
				SET guestCount = #{guestCount} - 1
			</if>
			<if test="bedCount != 0">
				SET bedCount = #{bedCount} - 1
			</if>
			<if test="bathCount != 0">
				SET bathCount = #{bathCount} - 1
			</if>
			<if test="roomCount != 0">
				SET roomCount = #{roomCount} - 1
			</if>
		WHERE idx = #{idx}
	</update>
	
	<update id="updateRentCountPlus" parameterType="rent">
		UPDATE rent
			<if test="guestCount != 0">
				SET guestCount = #{guestCount}
			</if>
			<if test="bedCount != 0">
				SET bedCount = #{bedCount}
			</if>
			<if test="bathCount != 0">
				SET bathCount = #{bathCount}
			</if>
			<if test="roomCount != 0">
				SET roomCount = #{roomCount}
			</if>
		WHERE idx = #{idx}
	</update>
	
	<delete id="deleteRentFile" parameterType="hashmap">
		DELETE rent_img WHERE filePath = #{filePath}
	</delete>
	
	<select id="filterPension" parameterType="string" resultType="rent"> 
		SELECT R.*, I.filePath
			FROM rent R
			JOIN (SELECT ri.rent, MIN(ri.idx) AS min_idx FROM rent_img ri GROUP BY ri.rent) min_img
				ON R.idx = min_img.rent
			JOIN rent_img I
				ON min_img.min_idx = I.idx 
			WHERE category = #{category} AND R.state = 1
			ORDER BY R.price
	</select>

	
	<select id="selectGuestCount" parameterType="int" resultType="int">
         SELECT guestCount FROM rent WHERE idx = #{idx}
    </select>
    
    <select id="find" resultType="rent" parameterType="string">
    	SELECT R.*, I.filePath
			FROM rent R
			JOIN (SELECT ri.rent, MIN(ri.idx) AS min_idx FROM rent_img ri GROUP BY ri.rent) min_img
				ON R.idx = min_img.rent
			JOIN rent_img I
				ON min_img.min_idx = I.idx
			WHERE R.state = 1 AND R.title LIKE '%${title}%'
    </select>
    
    <delete id="deleteRent" parameterType="int">
    	DELETE rent WHERE idx = #{idx}
    </delete>
    
    <select id="selectOneFile" parameterType="int">
    	SELECT filePath
		    FROM rent_img
		    WHERE idx = (SELECT MIN(idx) FROM rent_img WHERE rent = #{rent})
    </select>
    
    <update id="restMode" parameterType="int">
    	UPDATE rent SET state = 2 WHERE idx = #{idx}
    </update>
    
    <update id="operateMode" parameterType="int">
    	UPDATE rent SET state = 1 WHERE idx = #{idx}
    </update>
    
    <select id="rentDetailOne" parameterType="int" resultType="explain">
    	SELECT * FROM rent RT 
    		JOIN member M 
    			ON RT.member = M.idx 
    		WHERE RT.idx = #{idx}
    </select>
</mapper>