<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.javabang.repository.ReviewDAO">
	<select id="review" parameterType="int" resultType="review">
		select R.*, m.profile, m.userNick from review R join member M on r.member = m.idx where rent = #{idx}
	</select>
	
	<insert id="insertReview" parameterType="hashmap">
		insert into review (member, rent, content, point) values (${memberIdx}, ${rentIdx}, #{content}, ${point})
	</insert>
</mapper>















