<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.javabang.repository.WishListDAO">
	<select id="countWish" parameterType="int" resultType="int">
		select count(*) from wishList
			where rent = #{rent} and member = #{member}
	</select>
	
	<insert id="createWishList" parameterType="wishList">
		insert into
			wishList(rent, member)
			values(#{rent}, #{member})
	</insert>
	
	<delete id="deleteWishList" parameterType="wishList">
		delete wishList where rent = #{rent} and member = #{member}
	</delete>
	
	<select id="selectMyWishList" parameterType="int" resultType="wishList">
		select W.*, R.title, R.price
			from wishList W
			join rent R
				on R.idx = W.rent
			where W.member = #{member}
	</select>
</mapper>















